[*.cs]

# Default severity for analyzer diagnostics with category 'Assertions'
dotnet_analyzer_diagnostic.category-Assertions.severity = error

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = silent

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = error

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = error
